<input style="display: none;" class="hidden" id="_csrf" value="{{_csrf}}" />
<input style="display: none;" class="hidden" id="newUserId" />

<div class="back-to-home rounded d-none d-sm-block">
    <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
</div>

<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="mr-lg-5">   
                    <img src="https://via.placeholder.com/665x391" class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="login_page bg-white shadow rounded p-4">
                    <div class="text-center">
                        <h4 class="mb-4">Signup</h4>  
                    </div>
                    {{> flash}}
                    <form id="phoneSignup">
                        <div class="col-md-12">
                            <div class="form-group position-relative">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend col-md-3 p-0">
                                        <select class="custom-select custom-select-lg btn btn-outline-secondary dropdown-toggle" name="country" id="country">
                                            {{> countries}}
                                        </select>
                                    </div>
                                    <input type="text" class="form-control" id="phone" placeholder="(•••) •••-••••" autofocus />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary w-100">Send Verification Code</button>
                        </div>
                    </form>
                    <form class="hidden" id="checkCode">
                        <div class="col-md-12">
                            <div class="form-group position-relative">
                                <label>Verification Code <span class="text-danger">*</span></label>
                                <i class="mdi mdi-key ml-3 icons"></i>
                                <input id="code" type="number" class="form-control pl-5" minlength="4" maxlength="4" autocomplete="one-time-code" placeholder="••••" required="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info w-100">Continue</button>
                        </div>
                    </form>
                    <form class="hidden" id="finishSignup">
                        <div class="row p-3">
                            <div class="col-md-6">
                                <div class="form-group position-relative">                                               
                                    <label>First name <span class="text-danger">*</span></label>
                                    <i class="mdi mdi-account ml-3 icons"></i>
                                    <input id="firstName" type="text" class="form-control pl-5" placeholder="First Name" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group position-relative">                                                
                                    <label>Last name <span class="text-danger">*</span></label>
                                    <i class="mdi mdi-account ml-3 icons"></i>
                                    <input id="lastName" type="text" class="form-control pl-5" placeholder="Last Name"required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group position-relative">
                                <label>Email <span class="text-danger">*</span></label>
                                <i class="mdi mdi-key ml-3 icons"></i>
                                <input id="email" type="email" class="form-control pl-5" autocomplete="email" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group position-relative">
                                <label>Password <span class="text-danger">*</span></label>
                                <i class="mdi mdi-key ml-3 icons"></i>
                                <input id="password" type="password" class="form-control pl-5" autocomplete="new-password" placeholder="Password" required="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success w-100">Sign Up</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark mr-2">Already have an account?</small> <a href="/login" class="text-dark font-weight-bold">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>














<hr>



<script src="../javascripts/signup.js"></script>
