<!-- Messages from Server -->
{{#if messages.errors}}
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{#messages.errors}}
      {{{msg}}}
    {{/messages.errors}}
  </div>
{{/if}}
{{#if messages.info}}
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{#messages.info}}
      {{{msg}}}
    {{/messages.info}}
  </div>
{{/if}}
{{#if messages.success}}
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{#messages.success}}
      {{{msg}}}
    {{/messages.success}}
  </div>
{{/if}}
{{#if messages.warning}}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{#messages.warning}}
      {{{msg}}}
    {{/messages.warning}}
  </div>
{{/if}}


<!-- Messages from Client -->
  <div class="hidden alert alert-danger" id="flash-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="danger-alert">This is an error!</div>
  </div>
  <div class="hidden alert alert-info" id="flash-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="info-alert">Here is some info!</div>
  </div>
  <div class="hidden alert alert-success" id="flash-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="success-alert">This is what success looks like.</div>
  </div>
  <div class="hidden alert alert-warning" id="flash-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="warning-alert">This is a warning!</div>
  </div>