<div class="col-md-8 offset-md-2 pt-4">
    <div class="row p-4">
        <div class="col-md-12 text-white p-0">
            <h2 class="float-left">Your Parking Spaces</h2>
            <a href="/sell/new" class="btn btn-outline-success rounded-pill float-right"><i class="fa fa-plus"></i></a>
        </div>
        <div class="col-md-12 bg-light rounded p-4">
            <h4><strong><a href="/" class="text-success">N1340 Greenhill Dr</a></strong></h4>
            <div class="col-md-12">
                <img class="w-100 img-fluid" style="opacity: 0.3;" src="https://via.placeholder.com/1000x150?text=Sales+Graph" />
            </div>
            <center class="col-md-12 mt-4">
                <a href="/sell/edit/ID" class="btn btn-outline-primary btn-sm p-2"><span class="fa fa-pencil-alt"></span> Edit</a>
                <a href="/parking/ID" class="btn btn-outline-secondary btn-sm p-2"><span class="fa fa-external-link-square-alt"></span> View</a>
            </center>
        </div>
        <div class="col-md-12 bg-light rounded p-4 mt-4">
            <h4><strong><a href="/" class="text-success">N1340 Greenhill Dr</a></strong></h4>
            <div class="col-md-12">
                <img class="w-100 img-fluid" style="opacity: 0.3;" src="https://via.placeholder.com/1000x150?text=Sales+Graph" />
            </div>
            <center class="col-md-12 mt-4">
                <a href="/sell/edit/ID" class="btn btn-outline-primary btn-sm p-2"><span class="fa fa-pencil-alt"></span> Edit</a>
                <a href="/parking/ID" class="btn btn-outline-secondary btn-sm p-2"><span class="fa fa-external-link-square-alt"></span> View</a>
            </center>
        </div>
        <div class="col-md-12 bg-light rounded p-4 mt-4">
            <h4><strong><a href="/" class="text-success">N1340 Greenhill Dr</a></strong></h4>
            <div class="col-md-12">
                <img class="w-100 img-fluid" style="opacity: 0.3;" src="https://via.placeholder.com/1000x150?text=Sales+Graph" />
            </div>
            <center class="col-md-12 mt-4">
                <a href="/sell/edit/ID" class="btn btn-outline-primary btn-sm p-2"><span class="fa fa-pencil-alt"></span> Edit</a>
                <a href="/parking/ID" class="btn btn-outline-secondary btn-sm p-2"><span class="fa fa-external-link-square-alt"></span> View</a>
            </center>
        </div>
    </div>
</div>
